@use "../../style/theme.scss";

.header-wrapper {
    background: var(--mainbg);
    border-bottom: 1px solid #dcdcdc;
    padding: 15px 120px;
    color: var(--textWhite)
}


.header-logo {
    font-size: 22px;
    font-weight: 700;
    margin: 0;
    cursor: pointer;
}

.header-input {
    width: 100%;
    background: transparent;
}

.header-button {
    border-radius: 0;
    color: var(--textWhite) !important;
    border-color: var(--heavybg) !important;
    background-color: var(--heavybg) !important;
}

.header-right {
    .auth-text {
        font-size: 14px;
        cursor: pointer;
        color: #333;

        &:hover {
            color: #1677ff; // AntD primary
        }
    }
}

.icon-action {
    width: 22px;
    height: 22px;
    cursor: pointer;
    color: #333;
    transition: all 0.2s ease;

    &:hover {
        color: #1677ff;
        transform: scale(1.1);
    }
}

.header-userinfo {
    &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 20px;
        top: 75%;
    }

    &:hover .userinfo-container {
        display: block;
    }
}

.userinfo-container {
    display: none;
    position: absolute;
    background: var(--bg);
    color: var(--textColor);
    font-size: var(--bodyTextSize);
    right: 0;
    top: -75%;
    width: 190px;
    border-radius: 12px;
    transform: translateY(50%);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
    z-index: 1000;
    padding: 8px 0;
}

.userinfo-item {
    padding: 8px 16px;
    text-wrap: nowrap;
    cursor: pointer;


    &:hover {
        background: rgba(0, 0, 0, 0.15);
    }
}