@use "../../style/theme.scss";

.header-wrapper {
    background: var(--mainbg);
    border-bottom: 1px solid #eee;
    padding: 15px 120px;
    color: #fff
}


.header-logo {
    font-size: 22px;
    font-weight: 700;
    margin: 0;
    cursor: pointer;
}

.header-input {
    width: 100%;
}

.header-right {
    .auth-text {
        font-size: 14px;
        cursor: pointer;
        color: #333;

        &:hover {
            color: #1677ff; // AntD primary
        }
    }
}

.icon-action {
    width: 22px;
    height: 22px;
    cursor: pointer;
    color: #333;
    transition: all 0.2s ease;

    &:hover {
        color: #1677ff;
        transform: scale(1.1);
    }
}