.leftbar-wrapper {
    background: var(--bg);
    border-radius: 8px;

    .title {
        font-weight: 600;
    }

    .item {
        display: flex;
        align-items: center;
        gap: 1.2rem;
        padding: 6px 0;
        cursor: pointer;


        &:hover {
        background: rgba(0, 0, 0, 0.4);
        }


        img {
            width: 32px;
            height: 32px;
        }
    }
}