@use "./theme.scss";

body {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--bgSoft);
    color: var(--textColor);
    transition: .3 ease;
}

html {
    font-size: 62.5%;
}

.card-animate {
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.card-animate:hover {
    -webkit-transform: translateY(calc(-1.5rem / 5));
    transform: translateY(calc(-1.5rem / 5));
    -webkit-box-shadow: 0 5px 10px rgba(30, 32, 37, 0.12);
    box-shadow: 0 5px 10px rgba(30, 32, 37, 0.12);
}