:root {
    --textColor: #000;
    --textWhite: #fff;
    --mainbg: #1c8af4;
    --heavybg: #0058c3;
    --bg: white;
    --logo: darkblue;
    --bgSoft: #f6f3f3;
    --bgGray: #dedede;
    --textColorSoft: #555;
    --border: lightgray;
    
    --hover: rgba(0, 0, 0, 0.15);
    --bodyTextSize: 14px;
}



[data-theme="dark"] {
    --textColor: whitesmoke;
    --textWhite: #dcdcdc;
    --mainbg: #222;
    --heavybg: #444;
    --bg: #444;
    --logo: white;
    --bgGray: #333;
    --bgSoft: #333;
    --textColorSoft: lightgray;
    --border: #444;
}